.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('C:\Turnero\frotn-react\src\shared\img\Logo.png');
  background-size: 500px 500px ; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-attachment: fixed; /* Opcional: fija la imagen de fondo */
  background-position: left; /* Centra la imagen tanto horizontal como verticalmente */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* Pseudo-elemento ::before para agregar un filtro negro con opacidad */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
